<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651670456510-9kbh2rs9osne3e66nhrt3l1tatjp4q9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651670456510-9kbh2rs9osne3e66nhrt3l1tatjp4q9i</string>
	<key>API_KEY</key>
	<string>AIzaSyBKod2OTmaO9tT4KHLJbD3aclAYZpHvSsc</string>
	<key>GCM_SENDER_ID</key>
	<string>651670456510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.ezsspa</string>
	<key>PROJECT_ID</key>
	<string>ezs-spa</string>
	<key>STORAGE_BUCKET</key>
	<string>ezs-spa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651670456510:ios:f74a9b3670684174f236ef</string>
</dict>
</plist>